
    <div class="form">
        <form action="index.php" method="post">
            <input type="hidden" name="id" value="{{ getId[key].id }}">
            <input type="submit" value="Удалить картинку">
        </form>
    </div>
