<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <link type="text/css" rel="stylesheet" href="css/lightgallery.min.css">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="header__inner">
        <div class="container">
        <h1>  {{ title }}</h1>
        </div>
    </div>
</header>
    <div class="container">
        <div class="gallery">
            <div class="container">
                <div class="gallery__inner j-lightgallery">
                    {% for key,imgs in gallery %}
                        <div>
                            <div class="gallery__inner_item ">
                                <a href="imgs/{{ imgs.image }}">
                                    <img src="imgs/{{ imgs.image }}" alt="">
                                </a>
                             </div>
                            {{ include('deleteForm.twig', sandboxed = true) }}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        <form action="index.php" enctype=multipart/form-data method="post">
            <input type="file" name="image" value="image">
            <input type="submit">
        </form>

    </div>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script src = "../js/lightgallery-all.min.js"></script>
<script>
    $(function () {
        $(document).ready(function () {
            $('.j-lightgallery').lightGallery({
                selector:"a"
            });
        });
    });
</script>
</body>
</html>
