* {box-sizing: border-box;}
.container{max-width:1300px;margin: 0 auto;padding: 0 15px;}
.header h1 {font-size: 27px;color: #dd4444;}
.header__inner{display: flex;justify-content: center;align-items: center;}

.gallery__inner{display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: center}
.gallery__inner_item{max-width: 300px;max-height: 300px;border: 10px solid transparent;transition: 0.4s;display: flex;justify-content: flex-start;align-items: center;background: rgba(11,32,32,0);}
.gallery__inner_item:hover{border: 5px solid transparent;background: #dd4444}
.gallery__inner_item img{max-width: 100%;max-height: 100%;display: block;text-align: center;height: 200px;}

.form{max-width:300px;padding:5px;}