{% include 'header.html' %}
Залогинетесь чтобы войти !
<form action="/user/cabinet/" name="authorization" method="post">
	<input type="text" name="login">
	<input type="text" name="password">
	<input type="button" value="send">
</form>
{% include 'footer.html' %}