* {box-sizing: border-box;}
img{max-width: 100%;max-height: 100%;}
.container{max-width:1300px;margin: 0 auto;padding: 0 15px;}
.item-inner{transition: 0.4s;border: 10px solid transparent;}
.item-inner:hover{box-shadow: 0 0 12px 0px #0000002e;}
.items__inner{display: flex;flex-wrap: wrap;justify-content: center;align-items: center}
.items__item{width: 260px;height: 270px;transition: 0.4s;display: flex;justify-content: flex-start;align-items: center;position: relative;}
.items__item:hover .items__item_inner{visibility: visible;opacity: 1;}
.items__item_image{position: relative;width: 100%;height: 100%;opacity: 1;transition: 0.4s;}
.items__item_image img{display: block;width: 100%;}
.items__item:hover .items__item_image{opacity: 0.7;}
.items__item_inner{max-width: 180px;height:50px;display: flex;justify-content: center;align-items: center;flex-direction: column;visibility: hidden;opacity: 0;transition: 0.4s;position: absolute;z-index: 101;transform: translateX(-50%);left: 50%; }
.items__item_button {width: 100%;background: rgba(0, 0, 0, 0.5);text-align: center;transition: 0.4s}
.items__item_button:hover {background: rgba(0, 0, 0, 0.7)}
.items__item_button:first-child{margin-bottom: 10px;}
.items__item_button a{text-decoration: none;padding: 5px 10px;display: block;color: #fff}
.items__text{padding: 10px;}

.button{background-color: #f16d7f;	padding: 19px;margin: 0 auto;padding-left: 24px;color: #ffffff;font-size: 16px;	text-decoration: none;transition: 1.5s;	border: 1px solid #f16d7f;max-width: 200px;}
